.categories-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.categories-cards .category {
  background-color: var(--background-secondary-color);
  border-radius: 8px;
  height: 220px;
}

.categories-cards .category a {
  box-sizing: border-box;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 8px;

  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-primary-color);
  text-decoration: none;
}

.categories-cards .category img {
  width: 80px;
  height: 80px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .categories-cards .category {
    width: 312px;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards .category {
    width: 228px;
  }
  .categories-cards .category a {
    font-size: 24px;
  }
  .categories-cards .category a:hover {
    background-color: var(--background-quartenary-color);
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards .category {
    width: 280px;
  }
}

@media screen and (min-width: 1920px) {
  .categories-cards {
    width: 1250px;
    margin: 0 auto;
  }
}
