.footer-img {
  width: 100%;
  height: 400px;
  background: url(../img/footer-mobile.png) no-repeat;
  background-size: cover;
  margin-top: 64px;
}

.footer-container {
  background-color: var(--background-terciary-color);
  text-align: center;

  color: var(--text-terciary-color);
  padding: 24px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-info p {
  font-size: 16px;
  line-height: 28px;
}

.footer-info img {
  height: 40px;
  width: fit-content;
  margin: 0 auto 16px;
}

.social {
  margin: 32px auto;
}

.social p {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-img {
    background: url(../img/footer-tablet.png) no-repeat;
    background-size: cover;
  }

  .footer-info p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-img {
    background: url(../img/footer-desktop.png) no-repeat;
    background-size: cover;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
  }

  .footer-container div {
    align-items: start;
    margin: auto;
  }

  .footer-info img {
    margin: 0 0 16px;
  }
}

@media screen and (min-width: 1920px) {
  .footer-container {
    padding: 24px 320px;
  }
}

/* Página Pacotes de Viagem */
.pacotes.footer .footer-img {
  background: url(../img/footer-pacotes-mobile.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .pacotes.footer .footer-img {
    background: url(../img/footer-pacotes-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .pacotes.footer .footer-img {
    background: url(../img/footer-pacotes-desktop.png) no-repeat;
    background-size: cover;
  }
}
