@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

/* Background, Botoes, Cores de texto */
:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-terciary-color: #000000;
  --background-quartenary-color: #d1d1d1;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS Reset */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-title {
  text-align: center;
  margin: 0 auto 32px;
  box-sizing: border-box;
  padding: 0;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0 auto;
  max-width: 90%;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto;
}

.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
}

.content-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

session {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 312px;
  margin: 88px auto;
}

@media screen and (min-width: 768px) {
  session {
    width: 768px;
  }

  session.hero {
    padding: 0;
  }

  .section-title h2 {
    font-size: 32px;
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  session {
    width: 1024px;
  }

  .button:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1440px) {
  session {
    width: 1440px;
  }
}
