header {
  background-color: var(--background-terciary-color);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 80px;
  height: 75px;
}

.navegation-menu {
  margin-top: 24px;
}

nav {
  display: none;
}
