.hero {
  padding: 0;
}

.hero-img {
  width: 100vw;
  height: 400px;
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h2 {
  text-align: center;
  margin: 88px 24px 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
  }
  .hero h2 {
    margin: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    margin: 104px 120px;
  }
}
