.card {
  background: url(../img/tokio-mobile.png) no-repeat;
  background-size: inherit;
  box-sizing: border-box;
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  border-radius: 16px;
  color: var(--text-secondary-color);
  text-align: center;
  position: static;
}

.card header {
  font-size: 20px;
  font-weight: var(--text-weight);
  margin-bottom: 24px;
}

.card header p {
  margin: 0;
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.card header span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}

.card .button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  align-content: center;

  width: 280px;
  height: 64px;
  border-radius: 8px;

  text-decoration: none;
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weight);
}

@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}
