.offers-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.offers-cards .card {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px 16px;
  border-radius: 16px;
  color: var(--text-secondary-color);
  text-align: center;
  position: static;
  background-size: cover;
}

.offers-cards .card header {
  font-size: 20px;
  font-weight: var(--text-weight);
  margin-bottom: 24px;
}

.offers-cards .card header p {
  margin: 0;
}

.offers-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.offers-cards .card header span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}

.offers-cards .card .button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  align-content: center;

  width: 280px;
  height: 64px;
  border-radius: 8px;

  text-decoration: none;
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weight);
}

.offers-cards .card.japao {
  background: url(../img/japao-mobile.png) no-repeat;
}
.offers-cards .card.san-andreas {
  background: url(../img/san-andreas-mobile.png) no-repeat;
}
.offers-cards .card.paraiba {
  background: url(../img/paraiba-mobile.png) no-repeat;
}
.offers-cards .card.manaus {
  background: url(../img/manaus-mobile.png) no-repeat;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .offers-cards .card {
    width: 480px;
  }

  .offers-cards .card.japao {
    background: url(../img/japao-desktop.png) no-repeat;
  }
  .offers-cards .card.san-andreas {
    background: url(../img/san-andreas-desktop.png) no-repeat;
  }
  .offers-cards .card.paraiba {
    background: url(../img/paraiba-desktop.png) no-repeat;
  }
  .offers-cards .card.manaus {
    background: url(../img/manaus-desktop.png) no-repeat;
  }

  .offers-cards .card header h3 {
    font-size: 48px;
  }

  .offers-cards .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .offers-cards .card {
    display: block;
    width: 588px;
    height: 308px;
  }
}
