.card {
  background: url(../img/tokio-mobile.png) no-repeat;
  background-size: inherit;
  box-sizing: border-box;
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  border-radius: 16px;
  color: var(--text-secondary-color);
  text-align: center;
  position: static;
}

.card header {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.card header span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}

.card .button {
  color: var(--text-secondary-color);
}
