.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.offers-cards .card {
  background-size: inherit;
  box-sizing: border-box;
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  border-radius: 16px;
  color: var(--text-secondary-color);
  text-align: center;
  position: static;
}

.offers-cards .card header {
  font-size: 20px;
  font-weight: var(--text-weight);
  margin-bottom: 24px;
}

.offers-cards .card header p {
  margin: 0;
}

.offers-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.offers-cards .card header span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}

.offers-cards .card .button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  align-content: center;

  width: 280px;
  height: 64px;
  border-radius: 8px;

  text-decoration: none;
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weight);
}

.offers-cards .card.japao {
  background: url(../img/Japão.png) no-repeat;
  background-size: cover;
}

.offers-cards .card.san-andreas {
  background: url(../img/San\ Andreas.png) no-repeat;
  background-size: cover;
}
.offers-cards .card.paraiba {
  background: url(../img/Paraíba.png) no-repeat;
  background-size: cover;
}
.offers-cards .card.manaus {
  background: url(../img/Manaus.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .offers-cards .card {
    width: 420px;
    height: 308px;
  }

  .offers-cards .card header h3 {
    font-size: 48px;
  }

  .offers-cards .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .offers-cards .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}
