.payments-main {
  max-width: 648px;
}

.text-content .content-title {
  margin-bottom: 46px;
}

.image-content {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  justify-content: center;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 24px 0;
}

.image.bag {
  background: url(../img/bag-mobile.jpg) no-repeat;
  background-size: contain;
  height: 254px;
}

.image.passport {
  background: url(../img/passport-mobile.jpg) no-repeat;
  width: 100%;
  background-size: cover;
  height: 254px;
}

.image.people {
  background: url(../img/people-mobile.jpg) no-repeat;
  background-size: cover;
  max-width: 648px;
  height: 182px;
  grid-column: 1 / span 2;
}

@media screen and (min-width: 768px) {
  .image.bag {
    background: url(../img/bag.jpg) no-repeat;
    width: 312px;
  }
  .image.passport {
    background: url(../img/passport.jpg) no-repeat;
    width: 312px;
  }
  .image.people {
    background: url(../img/people.jpg) no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .payments-main {
    max-width: 984px;
    display: flex;
    gap: 24px;
  }
  .image-content {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .payments-main {
    max-width: 1192px;
  }
}
