.popular-cards {
  display: flex;
  flex-direction: column;
}

.popular-destination {
  margin-bottom: 40px;
}

.popular-destination .content-title {
  margin: 24px 0;
}

.popular-img {
  height: 360px;
}

.popular-img.tokyo {
  background-image: url(../img/tokyo-mobile.jpg);
  background-size: cover;
}

.popular-img.osaka {
  background-image: url(../img/osaka-mobile.jpg);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .popular-destination {
    max-width: 648px;
  }

  .popular-img {
    height: 452px;
  }

  .popular-img.tokyo {
    background-image: url(../img/tokyo.jpg);
  }

  .popular-img.osaka {
    background-image: url(../img/osaka.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .popular-cards {
    flex-direction: row;
    gap: 24px;
  }

  .popular-destination {
    max-width: 480px;
  }

  .popular-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 298px;
  }
}

@media screen and (min-width: 1440px) {
  .popular-destination {
    max-width: 1440px;
  }
}
